<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Gentics Mesh Vert.x Demo</title>
    <style>
    .row.products > div {
      height: 500px
    }
    </style>
</head>
<body>

<div class="container">
    <h2>Gentics Mesh Vert.x Demo <small><a href="https://getmesh.io">getmesh.io</a></small></h2>

    {{> navigation}}

    {{#block "content" }}{{/block}}

</div>
</body>
</html>